<div class="container">
  <h1 class="app-title">MassDEP Document Search</h1>
  <h3 class="col-md-12 text-center">Elasticsearch server status: {{status}}</h3>

  <div>
    <!--  <form (ngSubmit)="onSubmit()">-->
    <form>
      <div class="form-group">
        <label for="user-input"></label>
        <textarea type="text" [(ngModel)]="userInput" class="input" id="user-input" required name="user-input"
                  placeholder="To use the similarity search function, please enter a query at least 15-word long.">
        </textarea>
      </div>

      <button class="btn btn-success" id="match" (click)="exactMatch()">Full-text Search</button>
      <button class="btn btn-success" id="similarity" (click)="simSearch()">Similarity Search</button>

      <select class="filter" name="userYearFilter" [(ngModel)]="userYearFilter" (change)="yearFilterChanged($event.target.value)">
        <option value="allTime" [ngValue]="allTime">All Time</option>
        <option value="lastTenYears" [ngValue]="lastTenYears">Last 10 Years</option>
        <option value="lastFiveYears" [ngValue]="lastFiveYears">Last 5 Years</option>
        <option value="lastYear" [ngValue]="lastYear">Last Year</option>
      </select>

      <select class="filter" name="userTypeFilter" [(ngModel)]="userTypeFilter" (change)="typeFilterChanged($event.target.value)">
        <option value="_all" [ngValue]="_all">All Doc Type</option>
        <option value="non" [ngValue]="non">NON</option>
        <option value="acop" [ngValue]="acop">ACOP</option>
        <option value="uao" [ngValue]="uao">UAO</option>
      </select>

    </form>
  </div>


  <div *ngFor="let doc of filteredResponse">
    <div class="response-container">

      <p id="filename">{{ doc._source.filename }}</p>
      <a id="link" [href]="doc._source.link" target="_blank">{{ doc._source.link }}</a>
      <p id="citations">{{ doc._source.citations }}</p>
      <p id="circumstance">{{ doc._source.circumstance }}</p>

    </div>
  </div>
</div>



